body{
    margin: 0;
    padding: 0;
    height: auto;
    width: auto;
    background-color: none;
}
header{
    width: 95%;
    height: auto;
    background: white;
    display: flex;
    margin-bottom: 50px;
    margin-left: 2.5%;
    border-bottom: solid 1px black;
}
.logo{
    width: 95px;
    height: 95px;
    margin-left: 30px;
    float: left;
}
.nav{
    float: right;
    text-align: center;
    margin-top: 35px;
    margin-left: 60%;
    width: 30%;
}
.home{
    text-decoration: none;
   
}
.up-btn{
    text-transform: capitalize;
    margin-left: 5%;
    padding: 5px 10px;
    height:50px;    
    font-size: 25px;
    background-color:  white;
    color: #2eb82e;   
}
.up-btn:hover{
    background-color: #2eb82e;
    color: white;
    cursor: pointer;
}
h1{
    float: left;
    font-size: 30px;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    letter-spacing: 5px;
    margin-left: 10%;
}
.main{
    width: 100%;
    height:auto;
    display: grid;
    bottom: 0;
    left: 0;
}
.title{
    float: left;
    font-size: 30px;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    letter-spacing: 5px;
    margin-left: 10%;
}
.info-container{
    width: 85%;
    background-color: #f2f2f2;
    display: flex;
    margin-left: 10%;
    margin-bottom: 20px;
    border-radius: 10px;
    border: solid 1px black;
}
.client-picture{
    max-width: 25%;
    float: left;
    height: 100%;
    margin-left: 5%;
    margin-top: 5%;
  
}
.client-details{
   width: 50%;
   float: right;
   margin-left: 5%;

   
}
h3{
    font-size: 40px;
    text-transform: capitalize;
}
section{
    margin: 10px auto;

}
label{
    font-size: 20px;
    text-transform: capitalize;
}
b{
    font-size: 25px;
    text-transform: uppercase;
}
.email{
    text-transform: none;
}
select{
    width: 40%;
    padding: 10px auto;
    font-size: 25px;
    border: none;
    text-transform: capitalize;
    background-color: #ccc;
}


footer{
    width: 100%;
    height: auto;
    background-color:  #2eb82e ;
    margin-top: 100px;
    text-align: center;
    padding: 10px;
    position: block;
    left: 0;
    bottom: 0;
}
.footer-txt{
    font-size: 25px;
   
}
.papel-footer-txt{
    font-weight: bold;
    color: white;
}
@media (max-width: 1000px){
    header{
        height: auto;
    }
    .nav{
        display: grid;
        margin-top: 0px;
        margin-left: 40%;
    }
    label{
        font-size: 15px;
    }
    b{
        font-size: 20px
    }


}
@media(max-width: 670px){
    h3{
        font-size: 25px;
    }
    .panel{
        display: flex;
        flex-direction: column;
    }
    select{
        width: 95%;
    }
    .submit{
        width: auto;
    }
    label{
        font-size: 13px;
    }
    b{
        font-size: 8px;
    }
}

 @media(max-height: 800px){
    body{
        height: auto;
        overflow-y: auto;
    }
    /* footer{
        height: 15%;
    } */
 }
 @media(max-height: 500px){
    body{
        height: auto;
        overflow-y: auto;
    }
    /* footer{
        height: 20%;
    } */
 }




