body{
    margin: 0;
    padding: 0;
    height: 100vh;
    width: auto;
    background-color: none;
}
header{
    width: 100%;
    height: auto;
    /* position: fixed; */
    background: white;
    display: flex;
    margin-bottom: 0;
    /* margin-left: 2.5%; */
    margin-right: 2.5%;
    border-bottom: solid 1px black;
}
.logo{
    width: 95px;
    height: 95px;
    margin-left: 30px;
    float: left;
}
.nav{
    float: right;
    text-align: center;
    margin-top: 35px;
    margin-left: auto;
    width: 70%;
}
.home{
    text-decoration: none;
   
}
.up-btn{
    text-transform: capitalize;
    margin-left: 5%;
    padding: 5px 10px;
    height:50px;    
    font-size: 25px;
    background-color:  white;
    color: #2eb82e;   
}
.up-btn:hover{
    background-color: #2eb82e;
    color: white;
    cursor: pointer;
}
.main{
    width: 100%;
    height:auto;
    display: grid;
    bottom: 0;
    left: 0;
}
.title{
    float: left;
    font-size: 30px;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    letter-spacing: 5px;
    margin-left: 10%;
}
.info-container{
    width: 85%;
    background-color: #f2f2f2;
    display: flex;
    margin-left: 10%;
    border-radius: 10px;
    border: solid 1px black;
}

.client-picture{
    max-width: 25%;
    float: left;
    height: 100%;
    margin-left: 5%;
    margin-top: 5%;
  
}
.client-details{
   width: 50%;
   float: right;
   margin-left: 5%;

   
}
h3{
    font-size: 35px;
}
section{
    margin: 10px auto;

}
label{
    font-size: 25px;
    text-transform: capitalize;
}
b{
    font-size: 30px;
    text-transform: uppercase;
}
.accordion{
    background-color: #ccc;
  color: black;
  cursor: pointer;
  padding: 18px;
  margin-bottom: 20px;
  width: 80%;
  border: none;
  font-size: 20px;
  text-align: left;
  outline: none;
  transition: 0.4s;
}
.active, .accordion:hover {
    background-color: rgba(0,0,0,0.5); 
    color: white;
}

.panel{
    padding: 0 18px;
  display: none;
  background-color:#f2f2f2;
  overflow: hidden;
  width:80%;
  margin-bottom: 20px;
}
.green{
    color: green;
}
.yellow{
    color: rgb(170, 170, 57);
}
footer{
    width: 100%;
    height: 10%;
    background-color:  #2eb82e ;
    margin-top: none;
    text-align: center;
    padding-top: 1px;
    position: fixed;
    left: 0;
    bottom: 0;
}
.footer-txt{
    font-size: 25px;
    /* margin-top: 10%; */
}
.papel-footer-txt{
    font-weight: bold;
    color: white;
}

@media (max-width: 1000px){
    header{
        height: auto;
    }
    .nav{
        display: grid;
        margin-top: 0px;
        margin-left: 40%;
    }
    label{
        font-size: 15px;
    }
    b{
        font-size: 20px
    }


}
@media(max-width: 670px){
    h3{
        font-size: 25px;
    }
    label{
        font-size: 13px;
    }
    b{
        font-size: 8px;
    }
}

 @media(max-height: 500px){
    body{
        height: calc(100vh * 2);
        overflow-y: auto;
    }
    footer{
        height: 15%;
    }
 }